
.header {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 568px) {
  .header {
      flex-direction: column;
      padding-bottom: 10px;
  }
}