.favorites-circle {
  position: absolute;
  top: 7px;
  right: -2px;
  background-color: rgb(120, 206, 7);
  color: rgb(102, 102, 102);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}