@import '../../../styles/settings.scss';

.single-product.row {
  max-width: 650px;
  margin: 25px auto;
  .name {
    color: #111;
  }
  .price {
    color: $color-text-light
  }
  .description {
    font-size: 14px;
  }
  background-color: #fff;
  .image-wrapper {
    height: 100%;
    display: flex;
    .product-image {
      max-width: 100%;
      height: auto;
      max-height: 400px;
      margin: auto;
    }
  }
  .info {
    font-size: 12px;
    margin: 0;
  }
  
  .count {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    label {
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
    input{
      max-width: 53px;
      text-align: center;
      border: 1px solid rgb(79, 176, 255);
    }
  }
}