.products-list {
  display: grid;
  grid-gap: 8px 5px;
  justify-items: center
};

@media (max-width: 758.98px) and (min-width: 516px) {
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 758px) {
    .products-list {
        grid-template-columns: repeat(3, 1fr); 
    }
}
