.opinion {
  max-width: 850px;
  margin: 20px auto;
  border-bottom: 1px solid rgb(218, 231, 252);
  padding-bottom: 5px;
  .o-header {
    margin: 0;
    padding: 0;
    display: flex;
    .rates {
      margin-left: 10px;
      margin-right: auto;
      position: relative;
      top: -2px;
    }
    .name {
      display: flex;
      align-items: center;
      color: rgb(52, 106, 187);
      font-size: 14px;
    }
  }
  .opinion-text {
    font-size: 12px;
    font-family: 'Chilanka', cursive;
  }
  .img-user {
    max-height: 100px;
  }
  .date {
    font-size: 14px;
  }
  .rate{
    color: rgb(88, 88, 88);
    font-size: 14px;
    margin-left: 5px;
  }
  .actions {
    padding: 0;
    margin: 0;
  }
  .likes {
    font-size: 14px;
  }
  .like {
    padding: 5px;
    color: rgb(32, 67, 141);
    font-weight: bold;
  }
  .like-action {
    cursor: pointer;
    color: rgb(138, 138, 138);;
    &:hover {
      color: #000
    }
  }
  .text {
    margin: 0;
  }
  .add-comment {
    position: relative;
    width: 100%;
    text-align: end;
    button {
      color: rgb(141, 140, 140);
      background-color: #fff;
      border: none;
      margin-left: auto;
      display: inline-block;
      padding-right: 10px;
      margin-left: 15px;

      &:hover {
        color: #000;
      }
    }
    .show-comments {
      align-self: start;
      position: absolute;
      left: 0px;
      top: 3px;
    }
  }
  .comment-form {
    width: 100%;
    max-width: 500px;
    padding-left: 20px;
    font-size: 12px;
    padding-bottom: 10px;
    #text-area {
      width: 100%
    }
  }
  .comments-list {
    margin: 20px 0;
  }
  ul {
    list-style: none;
  }
  .comment {
    &::before {
      display: block;
      position: relative;
      top: -10px;
      left: -15px;
      content: "";
      width: 200px;
      background-color: rgb(146, 146, 146);
      height: 1px;
    }
     &::after {
      display: block;
      position: relative;
      top: -45px;
      left: -40px;
      transform: rotate(90deg);
      content: "";
      width: 50px;
      background-color: rgb(146, 146, 146);
      height: 1px;
    }
    margin-bottom: 15px;
    font-size: 12px;
    padding-left: 20px;
    .name {
      color: blue;
      margin: 0;
      width: calc(100% - 50px);
    }
    .img-comment {
      max-height: 35px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .name-wrap {
    padding-right: 10px;
  }
  .btn-delete {
    color: red;
    border: none;
    background-color: #fff;
  }
}
@media (max-width: 568px) {
  .opinion {
  .o-header {
    margin: 0;
    padding: 0;
    display: flex;
    .rates {
      font-size: 12px;
      margin-left: 10px;
      margin-right: auto;
    }
    .name {
      display: flex;
      align-items: center;
      color: rgb(52, 106, 187);
      font-size: 14px;
    }
  }
  .opinion-text {
    font-size: 12px;
  }
  .img-wrap {
    padding: 0;
    padding-left: 10px; 
  }
}
}